* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #5a9e89;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Nav styling */
nav {
    flex: 1;
    display: flex;
    justify-content: center;
    /* Center nav items */
    align-items: center;
    gap: 30px;
}

/* Nav list */
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #2a7f62;
    /* Green hover */
}

/* Contact button */
nav button {
    background: linear-gradient(135deg, #2a7f62, #1e5f4a);
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover {
    background: linear-gradient(135deg, #1e5f4a, #14503a);
    transform: scale(1.05);
}

body {
    background-color: #c2bfbf;
}

/* Logo */
.logo img {
    height: 50px;
}

/*  Navbar end */

/* sliders */

.main-carousel {
    width: 100%;
    height: 100vh;
}

.main-carousel .carousel-cell {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
}

/* sliders end  */

/* cards */

#product-heading,
#product-subheading {
    text-align: center;
    margin: 10px 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.card {
    border: 1px solid gray;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
}

.card button {
    margin: 10px 0;
    padding: 8px 15px;
    border: none;
    background: linear-gradient(135deg, #1e5f4a, #14503a);
    color: white;
    border-radius: 6px;

}

/* cards end */

/* form */

.form-section {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    background: #c2bfbf;
}

.form-container {
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.contact-heading {
    text-align: center;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.form-group input:focus {
    border-color: linear-gradient(135deg, #1e5f4a, #14503a);
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #1e5f4a, #14503a);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

button :hover {
    background: linear-gradient(135deg, #1e5f4a, #14503a);
}

/* form end */

/* about */
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
}

.about-text {
    flex: 1;
}

.about-text h1 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #333;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
    color: black;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* About end */

/* FOOTER */
.footer {
    background: #ffffff;
    padding: 70px 80px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-col h2.logo {
    font-size: 26px;
    margin-bottom: 15px;
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-col p,
.footer-col a {
    font-size: 14px;
    color: #555;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}

.footer-col a:hover {
    color: #7fb69d;
}

/* SOCIAL ICONS */
.socials {
    margin-top: 15px;
}

.socials a {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #1b3529;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 16px;
    transition: 0.3s;
}

.socials a:hover {
    background: #3c996d;
}

/* WAVE */
.footer-wave svg {
    width: 100%;
    height: 250px;
    /* thick wave */
    display: block;
}

.footer-wave path {
    fill: #3c996d;
}

/* Footer end */